form {
    @include card;
    background: rgba(0, 0, 0, 0.7);
    padding: 50px 50px 20px 50px;
    color: $white;

    &.form-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .form-group {
            width: 45%;

            input,
            select,
            textarea {
                width: 100%;
            }
        }
    }

    .form-group-check {
        width: 100%;

        label {
            margin-left: 20px;
            color: $white;
            font-family: "Edo SZ";
            font-size: $fs-subtitle;
        }
    }

    .form-group {
        position: relative;
        margin-bottom: 50px;

        label,
        input,
        select,
        textarea {
            font-size: $fs-text;
            padding: 10px 5px 10px 0px;
            color: $white;
            cursor: text;

            &[disabled] {
                opacity: 0.3;
                cursor: default;
            }
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            transition: $transition;
            pointer-events: none;
        }

        input,
        select,
        textarea {
            background: none;
            border: none;
            border-bottom: 3px solid $orange;
            outline: none;

            &::placeholder {
                color: transparent;
            }

            &:focus + label,
            &:not(:placeholder-shown) + label {
                transform: translateY(-100%);
                font-size: calc($fs-text - 3px);
            }
        }

        select option {
            color: $black;
            font-weight: 600;
        }
    }
    button {
        position: relative;
        background: transparent;
        width: 100%;
        display: block;
        padding: 10px;
        color: $orange;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: none;
        cursor: pointer;
        transition: $transition;
        overflow: hidden;

        &:hover {
            color: $white;

            &::after {
                width: 100%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background: $orange;
            transition: $transition;
        }
    }

    // !CHARACTER
    .delete-categories {
        width: 50%;

        li {
            margin: 25px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
