@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;900&display=swap);
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

img,
video {
  vertical-align: bottom;
}

/* FIN DU RESET  */
@font-face {
  font-family: "Edo SZ";
  src: url(/fonts/edosz.ttf?0be6a7a25374d83f251ff8299f0fb475) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(331deg, rgba(92, 179, 225, 0.8941176471) 9%, rgba(17, 69, 96, 0.8941176471) 91%), url("https://www.dragonballrebirth.fr/css/images/shop/skin-game/default/bg-logo.svg");
  background-size: 100% 100%;
  background-attachment: scroll;
  background-position: right right;
  background-repeat: no-repeat;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
html.admin,
body.admin {
  font-size: 16px;
  background: linear-gradient(331deg, rgba(255, 177, 100, 0.8941176471) 9%, rgba(151, 75, 0, 0.8941176471) 91%);
  overflow-y: visible;
}
html.admin .title,
body.admin .title {
  color: #fff;
}
html.admin .title img,
body.admin .title img {
  width: 40px;
  margin-left: 20px;
}

html {
  overflow-y: visible;
}

h1,
h2,
h3 {
  font-family: "Edo SZ";
  letter-spacing: 1px;
  text-shadow: 2px 2px 1px black;
}

strong {
  font-weight: 500;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

h2.title {
  color: #ff8b17;
  font-size: 2.5rem;
}

h2.sub-title {
  color: #ff8b17;
  font-size: 1.55rem;
}

.shadow {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

.w-33 {
  width: 32%;
}

.w-50 {
  width: 48% !important;
}

.w-100 {
  width: 100% !important;
}

#root-app {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 0.7fr 3fr;
}
#root-app .container-dashboard {
  height: 100vh;
  overflow-y: scroll;
  padding: 20px;
}
#root-app .container-dashboard h2.title {
  display: flex;
  justify-content: space-between;
}
#root-app .container-dashboard h2.title .btn-home {
  margin: 0;
}

.container {
  position: relative;
  width: 87%;
  margin: 50px auto;
  z-index: 10;
  padding-bottom: 10px;
}

.flex-galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}
.flex-galery div {
  flex-grow: 1;
}
.flex-galery.align-start {
  align-items: flex-start;
}
.flex-galery .category {
  color: #72bce5;
}

.flex-center {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center.column {
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-space-between .btn-home {
  font-family: "Edo SZ";
  font-size: 20px;
  margin: 0 0 60px 0;
}
.flex-space-between .btn-home.active {
  color: #fff;
  background: #ff8b17;
}

.full-grid {
  width: 100vw;
  transform: translate(-5%, 75%);
}

.price {
  display: flex;
  align-items: center;
  color: #ff8b17;
  font-family: "Edo SZ";
  text-shadow: 1px 1px 1px #000;
  font-size: 1.55rem;
  letter-spacing: 1px;
  margin: 15px 0 0 0;
}
.price span svg {
  width: 12px;
  margin-left: 5px;
}
.price span svg path {
  fill: #333;
}

.zenis svg {
  width: 12px;
  margin-left: 5px;
}

.rs-links {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
  height: 225px;
}
.rs-links img {
  transition: 0.4s ease-in-out;
}
.rs-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 32px;
  width: 60px;
  height: 60px;
  padding: 7px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.rs-links a:hover {
  background: #fff;
  color: #333;
}
.rs-links a:hover img {
  filter: brightness(0.1);
}

.btn-container-dashboard {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 350px;
}
.btn-container-dashboard span {
  display: inline-block;
  margin: 0 20px;
}

.btn-home {
  display: block;
  margin: 40px auto;
  border-radius: 5px;
  border: 2px solid #ff8b17;
  padding: 7px 20px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ff8b17;
  font-size: 1.55rem;
  transition: 0.4s ease-in-out;
}
.btn-home:hover {
  background: #ff8b17;
  color: #fff;
}
.btn-home.invert {
  border-color: #fff;
  color: #fff;
}
.btn-home.invert:hover {
  background: #fff;
  color: #ff8b17;
}

.preview {
  padding: 60px 0 0 0;
}
.preview div:nth-child(1) {
  margin: 0 auto;
}

span.edit {
  text-align: center;
  font-size: 20px;
  color: #2591cc;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

span.delete {
  text-align: right;
  font-size: 20px;
  color: #cc2525;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

span.delete:hover,
span.edit:hover {
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9dd1ed;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c8e5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 25px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
header h1 {
  width: 200px;
  margin: 0;
}
header h1 a img {
  display: block;
  width: 100%;
  transition: 0.4s ease-in-out;
}
header h1 a img:hover {
  transform: scale(1.1);
}
header nav {
  width: calc(100% - 220px);
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(-100px, 7px);
}
header nav ul li.nav-link {
  position: relative;
  margin-left: 30px;
  padding-bottom: 15px;
  transition: 0.4s ease-in-out;
}
header nav ul li.nav-link:hover {
  transform: scale(1.1);
}
header nav ul li.nav-link:hover ul {
  transform: scale(1);
}
header nav ul li.nav-link:hover ul {
  opacity: 1;
  pointer-events: all;
}
header nav ul li.nav-link ul {
  min-width: 200%;
  position: absolute;
  top: 100%;
  left: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out;
  overflow: hidden;
  transform-origin: top left;
  transform: scale(0);
}
header nav ul li.nav-link ul li.nav-link-dropdown {
  width: 100%;
  margin: 0;
}
header nav ul li.nav-link ul li.nav-link-dropdown a {
  font-size: calc(1rem - 2px);
  padding: 15px;
  display: block;
  transition: 0.4s ease-in-out;
  width: 100%;
  text-transform: none;
}
header nav ul li.nav-link ul li.nav-link-dropdown a:hover {
  background: rgba(255, 255, 255, 0.3);
}

.nav-link a,
.nav-link-dropdown a {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.15rem;
}

#character-section {
  transform: translateX(5%);
}
#character-section h2.title {
  transform: translateX(-5vw);
}

.character {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  margin: 50px 80px 90px 60px;
  width: 400px;
  padding-left: 125px;
}
.character .shadow {
  width: 225px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 9%);
}
.character .shadow h2,
.character .shadow h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background: #2591cc;
  font-size: 1.55rem;
  margin: 0;
  padding: 10px 20px;
  letter-spacing: 2px;
  transform: translateY(1px);
}
.character .shadow h2 img,
.character .shadow h5 img {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}
.character .shadow h5 {
  font-size: 13px;
}
.character .shadow .presentation {
  padding: 15px;
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  background: #2591cc;
  text-align: center;
}
.character .shadow .presentation .avatar {
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  background: #333;
}
.character .shadow .presentation .avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 200px;
  display: block;
  border-radius: 10px;
}
.character .caps,
.character .story-unlock,
.character .categories {
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid #e87400;
  background: rgba(255, 255, 255, 0.1);
}
.character .caps h3,
.character .story-unlock h3,
.character .categories h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 1.15rem;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
  margin: 2px;
  margin-bottom: 10px;
  background: #e87400;
  color: #fff;
}
.character .caps h3 img,
.character .story-unlock h3 img,
.character .categories h3 img {
  width: 30px;
}
.character .caps p,
.character .story-unlock p,
.character .categories p {
  margin: 0;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}
.character .caps p .step,
.character .story-unlock p .step,
.character .categories p .step {
  font-weight: 900;
}
.character .caps p .step img,
.character .story-unlock p .step img,
.character .categories p .step img {
  width: 25px;
}
.character .caps {
  border-color: #1da128;
  margin-top: 20px;
}
.character .caps h3 {
  background: #1da128;
}
.character .categories {
  border-color: #2591cc;
  margin-top: 20px;
}
.character .categories h3 {
  background: #2591cc;
}
.character .categories ul li {
  text-align: center;
  font-weight: 600;
  margin: 5px 0;
}

.object {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 350px;
  margin: 80px 15px 20px 15px;
  flex-grow: 1;
}
.object.admin {
  width: 390px;
  margin: 50px auto;
}
.object h3 {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 1.55rem;
  text-align: center;
  color: #333;
  text-shadow: 2px 2px 1px #fff;
}
.object h3 .min {
  font-family: "Montserrat";
  font-size: 18px;
  color: #2591cc;
  text-shadow: none;
}
.object img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  max-width: 100px;
}
.object .content {
  min-height: calc(100% - 123px);
  display: grid;
  width: 100%;
  grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(60px, auto);
}
.object .description,
.object .duration,
.object .using {
  border-left: 5px solid #e37200;
  padding: 20px 10px;
  background-color: #fff1e3;
  color: #e37200;
  line-height: 150%;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
  margin: 5px 0;
}
.object .description h5,
.object .duration h5,
.object .using h5 {
  font-size: 1.15rem;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
}
.object .description p,
.object .duration p,
.object .using p {
  margin: 0;
}
.object .description {
  color: #1d72a1;
  border-color: #1d72a1;
  background-color: #c8e5f5;
}
.object .using {
  color: #1da128;
  border-color: #1da128;
  background-color: #c8f5cc;
}
.object .duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.object .duration h5,
.object .duration p {
  margin: 0;
}
.object .duration h5 {
  margin-right: 10px;
}

.work {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  width: 46%;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  margin: 20px;
}
.work.admin {
  margin: 50px auto;
}
.work h2 {
  color: #fff;
  font-size: 1.55rem;
}
.work .content .gain,
.work .content .using {
  display: flex;
  align-items: center;
}
.work .content .gain h3,
.work .content .using h3 {
  font-size: 1.15rem;
  color: #ff8b17;
  margin-right: 10px;
}
.work .content .gain p,
.work .content .using p {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
}
.work .content .gain p img,
.work .content .using p img {
  margin-left: 10px;
  width: 30px;
}
.work .duration {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: calc(1.55rem + 5px);
  color: #ff8b17;
}
.work .duration h3 {
  margin: 0;
}
.work .location {
  position: absolute;
  top: 40px;
  right: 30px;
  color: #fff;
  text-align: right;
}
.work .location h4 {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 600;
}
.work .location .planet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.work .location .planet img {
  margin-left: 10px;
}

.capsule {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  width: 300px;
  margin: 50px 20px;
  flex-grow: 1;
}
.capsule.admin {
  width: 400px;
  margin: 50px auto;
}
.capsule h3.title {
  color: #333;
  text-shadow: 0px 0px 2px #fff;
  font-size: 1.55rem;
}
.capsule .level {
  color: #ffb164;
  font-size: 1.15rem;
}
.capsule .level .lvl-number {
  font-size: 1.55rem;
  color: #ff8b17;
}
.capsule .icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(30px, -50%);
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.capsule .icon img {
  width: 35px;
  height: 35px;
}
.capsule .icon h4 {
  margin: 0;
  margin-left: 15px;
  font-weight: 500;
  font-size: 1rem;
}
.capsule .stats {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  min-height: 250px;
}
.capsule .stats h4 {
  font-size: 1.15rem;
  color: #ff8b17;
  font-family: "Edo SZ";
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 40px;
}
.capsule .stats h4 .bonus,
.capsule .stats h4 .malus {
  font-size: 1rem;
  margin: 0 15px;
}
.capsule .stats h4 .bonus {
  color: #25cc33;
}
.capsule .stats h4 .malus {
  color: #e15c5c;
}
.capsule .stats .strength,
.capsule .stats .vitality,
.capsule .stats .energy,
.capsule .stats .defense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 900;
}
.capsule .stats .strength .attribute,
.capsule .stats .vitality .attribute,
.capsule .stats .energy .attribute,
.capsule .stats .defense .attribute {
  margin-right: 20px;
  letter-spacing: 2px;
  font-family: "Edo SZ";
  text-shadow: 1px 1px 1px #000;
}
.capsule .stats .strength.positive,
.capsule .stats .vitality.positive,
.capsule .stats .energy.positive,
.capsule .stats .defense.positive {
  color: #25cc33;
}
.capsule .stats .strength.negative,
.capsule .stats .vitality.negative,
.capsule .stats .energy.negative,
.capsule .stats .defense.negative {
  color: #e15c5c;
}

.train {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  background-position: center;
}
.train.admin {
  width: 100%;
  margin: 50px auto;
}
.train h2 {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 50px;
}
.train h2 img {
  margin-left: 20px;
  width: 30px;
}
.train .content h4 {
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
}
.train .content h4 .attribute {
  font-family: "Edo SZ";
  color: #ff8b17;
  margin-right: 30px;
  font-size: 1.15rem;
}
.train .duration {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.55rem;
  color: #ff8b17;
}
.train .duration h3 {
  margin: 0;
}
.train .location {
  position: absolute;
  top: 40px;
  right: 30px;
  color: #fff;
  text-align: right;
}
.train .location h4 {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 600;
}
.train .location .planet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.train .location .planet img {
  margin-left: 10px;
}

.step-container {
  padding: 30px 0;
}
.step-container.admin {
  width: 100%;
  margin: 50px auto;
}
.step-container .step {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  color: #333;
  width: 100%;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 60px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  place-items: center;
}
.step-container .step:nth-child(odd) {
  background: rgba(255, 255, 255, 0.5);
}
.step-container .step h2 {
  margin: 0 20px;
  color: #ff8b17;
}
.step-container .step h2 img {
  width: 30px;
  margin-left: 10px;
}
.step-container .step .thumbnail-container {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 250px;
}
.step-container .step .thumbnail-container .location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}
.step-container .step .thumbnail-container .location p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.step-container .step .thumbnail-container .location p:last-child {
  font-size: 20px;
}
.step-container .step .thumbnail-container .location p img {
  filter: drop-shadow(0 0 2px rgb(255, 255, 255));
  margin: 10px 0;
  width: 40px;
}
.step-container .step .thumbnail-container .thumbnail {
  width: 100%;
  filter: brightness(0.2);
}
.step-container .step .player {
  color: #ff8b17;
}
.step-container .step .nofight-character {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-container .step .fight {
  min-height: 155px;
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.step-container .step .fight h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.step-container .step .fight h2.enemy {
  color: #b62121;
}
.step-container .step .fight h2 span.info {
  font-family: "Montserrat", "Helvetica";
  font-size: 1rem;
  margin: 5px 0;
  text-shadow: none;
  color: #333;
  letter-spacing: 0px;
  margin-top: 10px;
}
.step-container .step .fight .versus {
  position: absolute;
  top: 20%;
  left: 0;
  transform: translate(-45%, -50%) rotate(10deg);
  font-size: 5rem;
  font-family: "Edo SZ";
  text-shadow: 2px 2px 1px #333;
  color: #fff;
  margin: 20px;
  z-index: -1;
}
.step-container .step .conditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.step-container .step .conditions .condition {
  color: #1d72a1;
  margin: 5px auto;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
.step-container .step .conditions .condition img {
  width: 30px;
}
.step-container .step .conditions .condition i,
.step-container .step .conditions .condition .number {
  color: #0e354a;
}
.step-container .step .conditions hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.step-container .step .rewards {
  min-width: 250px;
  text-align: center;
  border: 3px solid #ff8b17;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}
.step-container .step .rewards h3 {
  color: #fff;
  margin: 2px;
  margin-bottom: 10px;
  background: #ff8b17;
  border-radius: 7px;
  padding: 10px;
}
.step-container .step .rewards p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  padding: 0 10px;
}
.step-container .step .rewards p img {
  margin-left: 20px;
  width: 30px;
}
.step-container .step .step-number {
  position: absolute;
  top: 0;
  left: 30px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  transform: translate(0, -75%);
  padding: 10px 25px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.step-container .step .step-number h3 {
  margin: 0;
  color: #ff8b17;
}

.team-container .sub-title {
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
}
.team-container .team {
  gap: 20px;
  margin: 0 auto;
  justify-content: center;
}
.team-container .team .card {
  padding: 20px;
  background: rgba(51, 51, 51, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 30%;
  border-radius: 10px;
  justify-content: center;
  flex-grow: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.team-container .team .card img {
  margin-right: 30px;
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
}
.team-container .team .card .info h3 {
  font-size: 1.55rem;
  color: #ff8b17;
  margin: 0;
  margin-bottom: 20px;
}
.team-container .team .card .info h4 {
  color: #fff;
  font-weight: 600;
  font-style: italic;
  margin: 0;
}

.news-container {
  background: rgba(37, 145, 204, 0.3);
  padding: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.news-container .news-content {
  color: #fff;
  white-space: pre-wrap;
}

.news-title {
  color: #fff;
  font-size: calc(2.5rem - 8px);
  margin: 0 0 20px 0;
}

.last-container {
  padding: 30px;
  background: rgba(255, 139, 23, 0.3);
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.last-container h2 {
  color: #fff;
}
.last-container h3 {
  color: #ff8b17;
  font-size: 1.55rem;
}
.last-container .news-content .character-container,
.last-container .news-content .story-container {
  display: flex;
  flex-direction: column;
}
.last-container .news-content .character-container .saga,
.last-container .news-content .character-container .story,
.last-container .news-content .story-container .saga,
.last-container .news-content .story-container .story {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
.last-container .news-content .character-container .character,
.last-container .news-content .story-container .character {
  width: 80%;
}

.events-container {
  padding: 20px;
  background: rgba(204, 37, 37, 0.3);
  margin: 50px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.events-container .title {
  text-align: center;
}

form {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px 50px 20px 50px;
  color: #fff;
}
form.form-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
form.form-flex .form-group {
  width: 45%;
}
form.form-flex .form-group input,
form.form-flex .form-group select,
form.form-flex .form-group textarea {
  width: 100%;
}
form .dynamic {
  margin: 0px 0px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: rgba(255, 139, 23, 0.2);
  padding: 40px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
form .dynamic :last-child {
  margin-bottom: 0;
}
form .form-group-check {
  width: 100%;
}
form .form-group-check label {
  margin-left: 20px;
  color: #fff;
  font-family: "Edo SZ";
  font-size: 1.55rem;
}
form .form-group {
  position: relative;
  margin-bottom: 50px;
}
form .form-group label,
form .form-group input,
form .form-group select,
form .form-group textarea {
  font-size: 1rem;
  padding: 10px 5px 10px 0px;
  color: #fff;
  cursor: text;
}
form .form-group label[disabled],
form .form-group input[disabled],
form .form-group select[disabled],
form .form-group textarea[disabled] {
  opacity: 0.3;
  cursor: default;
}
form .form-group label {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s ease-in-out;
  pointer-events: none;
  opacity: 0.8;
}
form .form-group input,
form .form-group select,
form .form-group textarea {
  background: none;
  border: none;
  border-bottom: 3px solid #ff8b17;
  outline: none;
}
form .form-group input::-moz-placeholder, form .form-group select::-moz-placeholder, form .form-group textarea::-moz-placeholder {
  color: transparent;
}
form .form-group input:-ms-input-placeholder, form .form-group select:-ms-input-placeholder, form .form-group textarea:-ms-input-placeholder {
  color: transparent;
}
form .form-group input::placeholder,
form .form-group select::placeholder,
form .form-group textarea::placeholder {
  color: transparent;
}
form .form-group input:not(:-moz-placeholder-shown) + label, form .form-group select:not(:-moz-placeholder-shown) + label, form .form-group textarea:not(:-moz-placeholder-shown) + label {
  transform: translateY(-100%);
  font-size: calc(1rem - 3px);
}
form .form-group input:not(:-ms-input-placeholder) + label, form .form-group select:not(:-ms-input-placeholder) + label, form .form-group textarea:not(:-ms-input-placeholder) + label {
  transform: translateY(-100%);
  font-size: calc(1rem - 3px);
}
form .form-group input:focus + label, form .form-group input:not(:placeholder-shown) + label,
form .form-group select:focus + label,
form .form-group select:not(:placeholder-shown) + label,
form .form-group textarea:focus + label,
form .form-group textarea:not(:placeholder-shown) + label {
  transform: translateY(-100%);
  font-size: calc(1rem - 3px);
}
form .form-group select option {
  color: #333;
  font-family: "Montserrat";
  font-weight: 600;
}
form .form-group select optgroup {
  color: #1d72a1;
  font-family: "Edo SZ";
}
form button {
  position: relative;
  background: transparent;
  width: 100%;
  display: block;
  padding: 10px;
  color: #ff8b17;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  overflow: hidden;
}
form button:hover {
  color: #fff;
}
form button:hover::after {
  width: 100%;
}
form button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #ff8b17;
  transition: 0.4s ease-in-out;
}
form .delete-categories {
  width: 50%;
}
form .delete-categories li {
  margin: 25px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 139, 23, 0.4);
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
form .delete-categories li .delete {
  color: #fff;
}

.sidebar {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  text-align: center;
  padding: 20px 40px;
  border-right: 5px solid rgba(0, 0, 0, 0.5);
  color: #ff8b17;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
}
.sidebar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #ffd8b0;
  border-radius: 10px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #fff1e3;
}
.sidebar h1.title {
  margin-bottom: 50px;
  font-size: calc(1.55rem + 3px);
}
.sidebar .menu-item {
  text-align: left;
  border-left: 3px solid #ff8b17;
  padding-left: 15px;
  margin-bottom: 50px;
}
.sidebar .menu-item li {
  padding: 7px 0;
  margin-bottom: 10px;
}
.sidebar .menu-item li.title {
  font-size: calc(1.15rem + 0px);
  margin-bottom: 10px;
  text-transform: uppercase;
}
.sidebar .menu-item li.title h3 {
  margin: 0;
}
.sidebar .menu-item li.page,
.sidebar .menu-item li.sub-page {
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.sidebar .menu-item li.page:hover,
.sidebar .menu-item li.sub-page:hover {
  color: #fff;
}
.sidebar .menu-item .page {
  font-weight: 600;
}
.sidebar .menu-item .sub-page {
  margin-left: 30px;
  margin-top: -10px;
  list-style: circle;
}

.character-list {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 0.8fr 1.7fr 1.7fr 0.5fr 0.3fr 0.3fr;
  width: 100%;
  margin-bottom: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.character-list img {
  width: 25px;
  margin-left: 7px;
}
.character-list .name,
.character-list .story-info,
.character-list .caps,
.character-list .ruby {
  display: flex;
  align-items: center;
}
.character-list .character-info {
  display: flex;
  flex-direction: column;
}
.character-list .character-info .categories {
  display: flex;
  flex-direction: column;
}
.character-list .character-info .categories .category {
  margin: 5px 0;
  font-size: 13px;
  font-weight: 600;
  color: #333;
}
.character-list span.name {
  font-family: "Edo SZ";
  font-size: 18px;
}
.character-list span.name img {
  width: 30px;
}
.character-list .story-info {
  font-weight: 600;
  color: #b05800;
}
.character-list span.edit,
.character-list span.delete {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.character-list span.edit:hover,
.character-list span.delete:hover {
  opacity: 0.6;
}

.caps-container {
  width: 45%;
  margin: 0 10px;
  flex-grow: 1;
  height: 83vh;
  overflow-y: scroll;
}
.caps-container .caps-list {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr 0.2fr;
  justify-content: center;
  align-items: center;
}
.caps-container .caps-list .stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  color: #b05800;
  font-weight: 600;
  gap: 15px;
}
.caps-container .caps-list .stats .stat.plus {
  color: #198b23;
}
.caps-container .caps-list .stats .stat.minus {
  color: #de4646;
}
.caps-container .caps-list h4 {
  display: flex;
  align-items: center;
  margin: 0;
}
.caps-container .caps-list img {
  margin-left: 15px;
  width: 30px;
}
.caps-container .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.caps-container .info .character-name {
  font-family: "Edo SZ";
  font-size: 18px;
}

.object-list {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.15fr 0.15fr;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.object-list .name {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.object-list .name img {
  width: 40px;
  margin-right: 15px;
}

.work-list {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  min-height: 100px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr 0.2fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color: #fff;
}
.work-list .name {
  font-size: 20px;
  font-weight: bold;
}
.work-list .location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.work-list .location span {
  margin-top: 10px;
}
.work-list .planet,
.work-list .object-reward {
  display: flex;
  align-items: center;
}
.work-list .planet img,
.work-list .object-reward img {
  width: 30px;
  margin-left: 10px;
}

.train-list {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
  display: grid;
  align-items: center;
  grid-template-columns: 0.7fr 0.7fr 0.3fr 0.7fr 0.1fr 0.1fr;
}
.train-list .name {
  display: flex;
  align-items: center;
  font-weight: bolder;
}
.train-list .name img {
  margin-left: 15px;
  width: 30px;
}
.train-list .location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.train-list .location span {
  margin-top: 10px;
}
.train-list .planet,
.train-list .object-reward {
  display: flex;
  align-items: center;
}
.train-list .planet img,
.train-list .object-reward img {
  width: 30px;
  margin-left: 10px;
}

.reward-list,
.condition-list {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 0.2fr 0.2fr;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.reward-list .reward-given,
.reward-list .condition-given,
.condition-list .reward-given,
.condition-list .condition-given {
  display: flex;
  flex-direction: column;
}
.reward-list .name,
.reward-list .reward-name,
.reward-list .condition-name,
.condition-list .name,
.condition-list .reward-name,
.condition-list .condition-name {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.reward-list .name img,
.reward-list .reward-name img,
.reward-list .condition-name img,
.condition-list .name img,
.condition-list .reward-name img,
.condition-list .condition-name img {
  width: 30px;
  margin-left: 15px;
}
.reward-list .condition-name,
.condition-list .condition-name {
  font-weight: 500;
  font-size: 16px;
}

.item-list .category,
.item-list .scarecity,
.item-list .duration,
.item-list .planet,
.item-list .mapCase,
.item-list .condition-base,
.item-list .main-story {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 0px auto 20px auto;
  display: grid;
  align-items: center;
  width: 100%;
}
.item-list .category .name,
.item-list .scarecity .name,
.item-list .duration .name,
.item-list .planet .name,
.item-list .mapCase .name,
.item-list .condition-base .name,
.item-list .main-story .name {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #333;
}
.item-list .category .name img,
.item-list .scarecity .name img,
.item-list .duration .name img,
.item-list .planet .name img,
.item-list .mapCase .name img,
.item-list .condition-base .name img,
.item-list .main-story .name img {
  width: 30px;
  margin-left: 15px;
}
.item-list .category,
.item-list .scarecity,
.item-list .duration,
.item-list .planet,
.item-list .mapCase,
.item-list .condition-base,
.item-list .main-story {
  grid-template-columns: 1fr 0.1fr 0.1fr;
}

.story-list,
.step-list {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr 0.5fr 0.2fr 0.2fr;
  grid-template-rows: 1fr 0.1fr;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.story-list:nth-child(odd),
.step-list:nth-child(odd) {
  background: rgba(255, 255, 255, 0.5);
}
.story-list .thumbnail,
.step-list .thumbnail {
  grid-row-start: span 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-right: 30px;
}
.story-list .thumbnail img,
.step-list .thumbnail img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.story-list .story-info,
.story-list .story-unlock,
.story-list .visible,
.step-list .story-info,
.step-list .story-unlock,
.step-list .visible {
  display: flex;
  flex-direction: column;
}
.story-list .story-info .name,
.story-list .story-unlock .name,
.story-list .visible .name,
.step-list .story-info .name,
.step-list .story-unlock .name,
.step-list .visible .name {
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "Edo SZ";
  font-size: 22px;
}
.story-list .story-info .main-story,
.story-list .story-unlock .main-story,
.story-list .visible .main-story,
.step-list .story-info .main-story,
.step-list .story-unlock .main-story,
.step-list .visible .main-story {
  margin-top: 15px;
  font-style: italic;
}
.story-list .story-unlock,
.story-list .visible,
.step-list .story-unlock,
.step-list .visible {
  justify-content: center;
  align-items: center;
}
.story-list .story-unlock strong,
.story-list .visible strong,
.step-list .story-unlock strong,
.step-list .visible strong {
  display: inline-block;
  margin-bottom: 15px;
}
.story-list .visible,
.story-list .step-button,
.step-list .visible,
.step-list .step-button {
  font-family: "Edo SZ";
  text-shadow: 2px 2px #333;
  font-size: 20px;
  letter-spacing: 1px;
}
.story-list .visible strong,
.step-list .visible strong {
  min-width: 70%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.story-list .visible strong.publish,
.step-list .visible strong.publish {
  background-color: #25cc33;
}
.story-list .visible strong.no-publish,
.step-list .visible strong.no-publish {
  background-color: #cc2525;
}
.story-list strong,
.step-list strong {
  font-weight: 600;
}
.story-list .step-button,
.step-list .step-button {
  grid-column-start: span 5;
  text-align: center;
  background-color: transparent;
  text-shadow: 2px 2px #fff;
  border: 2px solid #2591cc;
  color: #2591cc;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}
.story-list .step-button:hover,
.step-list .step-button:hover {
  background-color: #2591cc;
  text-shadow: 2px 2px #333;
  color: #fff;
}

.step-list {
  grid-template-columns: 0.2fr 0.3fr 0.3fr 0.5fr 0.5fr 0.1fr 0.1fr;
  grid-template-rows: none;
  align-items: flex-start;
}
.step-list .step-info {
  display: flex;
  flex-direction: column;
}
.step-list .step-info .step {
  margin-bottom: 25px;
}
.step-list .characterSelect,
.step-list .enemySelect,
.step-list .conditions,
.step-list .rewards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.step-list .characterSelect .title,
.step-list .enemySelect .title,
.step-list .conditions .title,
.step-list .rewards .title {
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}
.step-list .content,
.step-list .planet {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.step-list .content img,
.step-list .planet img {
  width: 25px;
  margin-left: 10px;
}
.step-list .edit,
.step-list .delete {
  align-self: center;
}

.mainStory h2 {
  color: #fff;
}

.saga {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px;
  width: 30%;
  min-width: 250px;
  color: #fff;
  flex-grow: 1;
}
.saga h3 {
  font-size: 1.55rem;
}
.saga.normal {
  border: 3px solid #2591cc;
}
.saga.normal h3 {
  color: #2591cc;
}
.saga.hard {
  border: 4px solid #cc2525;
}
.saga.hard h3 {
  color: #cc2525;
}
.saga:hover {
  transform: scale(1.05);
}

.story {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px;
  width: 22%;
  min-width: 250px;
  color: #fff;
  flex-grow: 1;
}
.story:hover {
  transform: scale(1.05);
}
.story h3 {
  font-size: 1.55rem;
  color: #ff8b17;
  text-shadow: 2px 2px 1px #333;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 95%;
  }
}
