body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(
        331deg,
        lighten(#2592cce4, 15) 9%,
        darken(#2592cce4, 25) 91%
    );
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: left center;
    background-repeat: no-repeat;
    color: $black;
    font-size: 16px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    &::after {
        content: url("https://www.dragonballrebirth.fr/css/images/shop/skin-game/default/bg-logo.svg");
        position: fixed;
        top: 50%;
        right: 0;
        width: 800px;
        aspect-ratio: 1 / 1;
        transform: translate(33%, -50%);
        z-index: -1;
        opacity: 0.4;
    }
}
h1,
h2,
h3 {
    font-family: "Edo SZ";
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px darken($black, 20);
}

h2.title {
    color: $orange;
    font-size: $fs-title;
}

.shadow {
    filter: drop-shadow($box-shadow);
}
.container {
    position: relative;
    width: 87%;
    margin: 50px auto;
    z-index: 10;
    padding-bottom: 10px;
}
.flex-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    transition: $transition;
}

.price {
    display: flex;
    align-items: center;
    color: $orange;
    font-family: "Edo SZ";
    text-shadow: 1px 1px 1px #000;
    font-size: $fs-subtitle;
    letter-spacing: 1px;
    margin: 15px 0 0 0;

    span svg {
        width: 12px;
        margin-left: 5px;

        path {
            fill: $black;
        }
    }
}

.rs-links {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    height: calc(60px * 3 + 3 * 15px);

    img {
        transition: $transition;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: 32px;
        width: 60px;
        height: 60px;
        padding: 7px;
        border: 3px solid $white;
        border-radius: 50%;

        &:hover {
            background: $white;
            color: $black;

            img {
                filter: brightness(0.1);
            }
        }
    }
}

strong {
    font-weight: 500;
}
