.character-list {
    @include card;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    img {
        width: 30px;
        margin-left: 15px;
    }
}
