.character-list {
    @include card;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 0.8fr 1.7fr 1.7fr 0.5fr 0.3fr 0.3fr;
    width: 100%;
    margin-bottom: 20px;
    backdrop-filter: blur(10px);

    img {
        width: 25px;
        margin-left: 7px;
    }

    .name,
    .story-info,
    .caps,
    .ruby {
        display: flex;
        align-items: center;
    }

    .character-info {
        display: flex;
        flex-direction: column;

        .categories {
            display: flex;
            flex-direction: column;

            .category {
                margin: 5px 0;
                font-size: 13px;
                font-weight: 600;
            }
        }
    }

    span.name {
        font-family: "Edo SZ";
        font-size: 18px;

        img {
            width: 30px;
        }
    }

    .story-info {
        font-weight: 600;
        color: darken($orange, 20);
    }

    span.edit,
    span.delete {
        font-size: 20px;
        cursor: pointer;
        transition: $transition;

        &:hover {
            opacity: 0.6;
        }
    }
}
