.story-list,
.step-list {
    @include card;
    width: 100%;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 0.7fr 1fr 0.5fr 0.2fr 0.2fr;
    grid-template-rows: 1fr 0.1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &:nth-child(odd) {
        background: rgba(255, 255, 255, 0.5);
    }

    .thumbnail {
        grid-row-start: span 2;
        box-shadow: $box-shadow;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 30px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .story-info,
    .story-unlock,
    .visible {
        display: flex;
        flex-direction: column;
        .name {
            font-weight: 600;
            margin-bottom: 5px;
        }
        .main-story {
            margin-top: 15px;
            font-style: italic;
        }
    }
    .story-unlock,
    .visible {
        justify-content: center;
        align-items: center;

        strong {
            display: inline-block;
            margin-bottom: 15px;
        }
    }
    .visible strong {
        min-width: 70%;
        padding: 10px;
        border-radius: 5px;
        color: $white;
        text-align: center;
        box-shadow: $box-shadow;
        &.publish {
            background-color: $green;
        }
        &.no-publish {
            background-color: $red;
        }
    }

    strong {
        font-weight: 600;
    }

    .step-button {
        grid-column-start: span 5;
        text-align: center;
        background-color: transparent;
        border: 2px solid $blue;
        color: $blue;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        transition: $transition;

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }
}

.step-list {
    grid-template-columns: 0.2fr 0.3fr 0.3fr 0.5fr 0.5fr 0.1fr 0.1fr;
    grid-template-rows: none;
    align-items: flex-start;

    .step-info {
        display: flex;
        flex-direction: column;

        .step {
            margin-bottom: 25px;
        }
    }

    .characterSelect,
    .enemySelect,
    .conditions,
    .rewards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
            color: $black;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }

    .content,
    .planet {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img {
            width: 25px;
            margin-left: 10px;
        }
    }

    .edit,
    .delete {
        align-self: center;
    }
}
