.item-list {
    .category,
    .scarecity,
    .duration,
    .planet,
    .mapCase,
    .condition-base,
    .main-story {
        @include card;
        margin: 0px auto 20px auto;
        display: grid;
        align-items: center;
        width: 100%;

        .name {
            display: flex;
            align-items: center;
            font-weight: 600;

            img {
                width: 30px;
                margin-left: 15px;
            }
        }
    }

    .category,
    .scarecity,
    .duration,
    .planet,
    .mapCase,
    .condition-base,
    .main-story {
        grid-template-columns: 1fr 0.1fr 0.1fr;
    }
}
